/*
 * Style sheet for plugin settings page
 */

/* Messages */
#setting-error-settings_updated {
    display: none;
}

/* CodeMirror Editor */
.CodeMirror {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #ddd;
  font-family: "Consolas","Monaco",monospace;
  margin-right: 0;
  min-height: 40px;
  width: 100%;
}
.CodeMirror-lines {
  padding: 6px;
}
.CodeMirror-gutters {
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  min-width: 34px;
}